[user]
	name = Todd Ryan Whitten
	email = todd.ryan.whitten@gmail.com
[credential]
	helper = "!f() { /home/whittendata/.vscode-server/bin/41dd792b5e652393e7787322889ed5fdc58bd75b/node /tmp/vscode-remote-containers-17be2d7a-e42f-4f2b-836f-95954042f0f7.js git-credential-helper $*; }; f"
[safe]
	directory = /home/whittendata
